body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
 #menu ul {
    padding:0px;
    margin:0px;
    background-color:#EDEDED;
    list-style:none;
}
#menu ul li { display: inline; }

#menu ul li a {
    padding: 10px 10px;
    display: inline-block;

    /* visual do link */
    background-color:#EDEDED;
    color: #333;
    text-decoration: none;
    border-bottom:3px solid #EDEDED;
}

.button {
  background-color: #008000;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
}

.button12Px {
	font-size: 12px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 4px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {
	background-color:#f5f5f5;
}