<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta codigoSemana4="1913775877">
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <title>PWeb - index </title>
    
</head>
<body>
 
 <nav id="menu">
	<ul>
        <li><a  class="navbar-brand" href="/">Início</a></li>	
        <li><a href="/adicionarProduto">Adicionar Produto</a></li>
        <li><a href="/listarProduto" >Listar Produto</a></li>	
		<li><a href="/adicionarCliente">Adicionar Cliente</a></li>
        <li><a href="/listarCliente" >Listar Cliente</a></li>
        
    </ul>
    </nav>


	<h1>Agro Pop Shop</h1>
	<h2>Loja de produtos de jardinagem</h2>
    <p><img th:src="@{/image/agropopshop.jpg}" 
	   class="img-responsive"alt="agropopshop" title="Agro Pop Shop"/>
	</p>
  </div>	
</body>
</html>